<!doctype html>
<html lang="en">
    <head>
        <title>Friend</title>
        <link rel='stylesheet' type = 'text/css' href="/public/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>


    <ul class="nav nav-pills">
        <li><a href="/home">Home</a></li>
        <li><a href="/index"><%=me.username%> </a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

    <div class="jumbotron">
            <h1 id="jumbotron_text"></h1>
    </div>

 <div class="indexfeed"> 
        <h1> <%=friend.username%> </h1>

    <div class="row">

		<div class="col-md-4">

        <h1>About </h1>
        <ul>
            <big><%=friend.interests%> </big>
        </ul>

		<!-- <h1><%=friend.username.split(' ')[0]%>'s Friends</h1> -->
        <h1>Friends</h1>
        <ul>
        <%users.each do |user|%>
            <%if user.id != friend.id && user.id != me.id %>
            <h5> <a href="/friends/?friend=<%=user.id%>"><%=user.username%></a></h5> 
            <%end%> 
        <%end%>
        </ul>

        <h1>SMS</h1>
        <ul>
            <form id="message" action="/text/create" method="POST">
            <input type="hidden" name ="send_to" value ="<%=friend.mobile%>">
            <input class="form-control" name="message" /> <br />
            <input class="btn btn-info" type="submit" value="Send"/>
            </form>
        </ul>

        </div>

		<div class="col-md-8">
		<h1><%=friend.username.split(' ')[0]%>'s Timeline</h1>
            <%statuses.reverse.each do |status|%>
            <%if status.author_id == friend.id%>


            <h4><medium><a href="/friends/?friend=<%=status.author.id%>"><%=status.author.username%></a></medium><br />
                <%=status.status%>
                <br /><small><%=status.date%></small>
                    <form id="comment" action="/comments/create" method="POST">
                        <input type="hidden" name ="id_to_comment" value ="<%=status.id%>">
                        <input type="hidden" name ="view" value ="friend">
                        <input class="form-control" name="comment" /> <br />
                        <input class="btn btn-info" type="submit" value="Reply"/>
                    </form>
                           
                        <%comments.each do |comment|%>
                        <%if comment.status_id == status.id%>
                        <br />
                        <medium><a href="/friends/?friend=<%=comment.comment_from.id%>"><%=comment.comment_from.username%></a></medium>
                        <br />
                        <p><%=comment.comment%> <br /> <small><%=comment.date%></small></p>
                        <%end%> 
                        <%end%>


            </h4> 


            <%end%> 
            <%end%>
		</div>
    </div>

</div>
    </body> 
</html>